*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #2b2a33;
  height: 100%;
}

@media screen and (min-width:576px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width:576px) {
  :root {
    font-size: 14px;
  }
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 75px;
  position: relative;
}

@media screen and (min-width:992px) {
  .page {
    padding: 50px;
  }
}

@media screen and (max-width:992px) {
  .page {
    padding: 30px 10px;
  }
}

.link,
.comment-box a {
  margin-bottom: 10px;
  color: #b2b5fe77;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}

.error-link {
  font-size: 1.6rem;
}

.link:hover,
.comment-box a:hover {
  color: #8b8dfa;
  text-decoration: underline;
}


/* NEWS */

.section-news {
  display: grid;
  gap: 30px;
}

@media screen and (min-width:992px) {
  .section-news {
    grid-template-columns: 1fr 1fr;
    width: 1100px;
  }
}

@media screen and (max-width:576px) {
  .section-news {
    gap: 10px;
  }
}

.news {
  background-color: #1c1b22;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 3px 3px 5px 3px #00000010;
}

.news:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 5px 3px #0000002d;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.news-footer p {
  margin-bottom: 10px;
}

.text-news {
  font-size: 1.3rem;
  color: #b2b5fe77;
  margin-top: 0;
}

.news-title {
  font-size: 1.8rem;
}

.title {
  color: #7275ff;
  margin-top: 0;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.news-author {
  color: white !important;
}

/* Select news */

@media screen and (min-width:1200px) {
  .section {
    width: 1200px;
  }

  .section:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (max-width:1200px) {
  .section {
    width: 100%;
  }

  .section:not(:last-child) {
    margin-bottom: 30px;
  }
}

.select-news,
.error-box {
  background-color: #1c1b22;
  border-radius: 10px;
  padding: 15px 20px;
}

.select-title {
  font-size: 2.3rem;
}


/* comment */

.comment-title {
  font-size: 2rem;
  margin-left: 20px;
}

@media screen and (min-width:576px) {
  .comment-box .comment-box {
    margin-left: 20px;
  }
}

@media screen and (max-width:576px) {
  .comment-box .comment-box {
    margin-left: 10px;
  }
}

.comment-box pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.comment-box code {
  display: block;
  font-size: 0.85rem;
}


.comment p {
  margin-top: 0;
  margin-bottom: 10px;
}

.comment-box_title {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.reload {
  padding: 5px;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
  opacity: 0.7;
  cursor: pointer;
}

.reload img {
  width: 30px;
}

.reload:hover {
  opacity: 1;
}

/* .hiddd {
  display: none;
} */

.childCom-show {
  animation: showComment 0.5s linear;
}

.childCom-hide {
  animation: hideComment 0.5s linear;
}

@keyframes showComment {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hideComment {
  0% {
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-15%);
  }
}

.rotate-right {
  transform: rotate(-180deg);
  animation: rightRotate 0.3s linear;
}

.rotate-left {
  transform: rotate(0);
  animation: leftRotate 0.3s linear;
}

.left {
  transform: rotate(0);
}

.right {
  transform: rotate(-180deg);
}

@keyframes rightRotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes leftRotate {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}